/* Global Settings */
* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Global Settings End */

/* Media Query Responsive - Desktop */
@media screen and (min-width: 1366px) and (max-width: 1920px) {
  /* Navbar */
  .navbar {
    width: 100%;
    height: 120px;
    background-color: #b80505;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 6px 10.5px 0px rgba(0, 0, 0, 0.25);
    z-index: 5;
  }

  .left_navbar {
    float: left;
    position: relative;
    top: 1rem;
    left: 65px;
  }

  .right_navbar {
    float: right;
    position: relative;
    left: -65px;
    top: 3rem;
  }

  .navbar-links {
    margin-left: 25px;
    text-decoration: none;
    color: #f8f9fa;
    font-weight: bold;
    font-size: 20px;
  }
  .navbar-links:hover {
    color: #ffc40c;
  }

  /* Navbar End */

  /* First Container */
  .main_container {
    width: auto;
    height: 648px;
    background-image: url("/Assets/Img/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }
  .left-add {
    padding-top: 12.5rem;
    padding-left: 4rem;
  }
  #title_main_container {
    font-size: 48px;
    color: #f8f9fa;
    font-weight: bold;
    width: 40%;
  }

  #main_hr {
    border: solid 5px #b80505;
    width: 15%;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  #title_main_para {
    color: #f8f9fa;
    width: 36%;
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
  }
  /* First Container End */

  /* Kampus Kami - Section */
  .kampus_kami_section {
    height: 150px;
    width: 100%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
  }
  .left-kampus-kami {
    float: left;
    position: relative;
    padding-top: 50px;
    padding-left: 65px;
  }
  #kampus_kami_title {
    color: #f8f9fa;
    font-size: 36px;
    font-weight: bold;
  }
  #kampus_kami_hr {
    border: solid 3px #b80505;
    width: 58%;
  }
  .wrap-btn-kampus {
    margin-top: 50px;
    margin-right: 65px;
  }
  .btn-kampus {
    background-color: #b80505;
    color: #f8f9fa;
    border-radius: 8px;
    height: 55px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: 15px;
    border: none;
  }
  .btn-kampus:hover {
    background-color: #ffc40c;
  }
  /* Kampus Kami - Section End */

  /* Sambutan Rektor - Section */
  .sambutan_rektor_section {
    width: 100%;
    height: 695px;
    background-color: #f8f9fa;
  }

  #rektor {
    position: relative;
    left: 65px;
    top: 108px;
    z-index: 0;
  }

  .wrap-right {
    position: absolute;
    left: 439px;
    top: 64rem;
  }
  #sambutan-title {
    font-size: 48px;
  }
  #sambutan_hr {
    border: solid 3px #b80505;
    width: 5%;
    margin-top: 7px;
    margin-bottom: 35px;
  }
  .sambutan_para {
    width: 93%;
    text-align: justify;
    font-size: 16px;
    margin-bottom: 10px;
  }
  /* Sambutan Rektor - Section End */

  /* Footer */
  .footer {
    width: 100%;
    height: 130px;
    background-color: #1e1e1e;
  }
  .left-footer {
    float: left;
    padding-left: 65px;
    padding-top: 36px;
  }

  .right-footer {
    float: right;
  }
  .wrap-icon {
    display: inline-block;
    padding-right: 65px;
    padding-top: 48px;
  }
  .icon-links {
    list-style-type: none;
    margin-left: 17px;
    text-decoration: none;
  }

  /* Footer - End */
  /* Additions */
  .ham-btn {
    display: none;
  }
  #rektor_mobile {
    display: none;
  }
  /* Additions End */
}

/* Media Query Responsive - Desktop End */

/* Media Query Responsive - Mobile */
@media screen and (min-width: 360px) and (max-width: 1366px) {
  /* Navbar  */
  .navbar {
    width: 100%;
    height: 75px;
    background-color: #b80505;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 6px 10.5px 0px rgba(0, 0, 0, 0.25);
    z-index: 5;
  }
  #logoUPI {
    height: 42px;
    padding-top: 16px;
    padding-left: 35px;
  }
  .navbar-links {
    display: none;
  }
  .ham-btn {
    position: relative;
    right: 35px;
    top: 27px;
  }
  /* Navbar - End */
  /* Main Container */
  .main_container {
    height: 440px;
    width: 100%;
    background-image: url("/Assets/Img/bgmobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }

  .left-add {
    display: grid;
    padding: 35px 35px;
    padding-top: 145px;
  }

  #title_main_container {
    font-size: 24px;
    color: #f8f9fa;
    font-weight: bold;
  }

  #main_hr {
    border: solid 3px #b80505;
    width: 50%;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  #title_main_para {
    color: #f8f9fa;
    width: 100%;
    text-align: justify;
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
  }
  /* Main Container - End */

  /* Kampus Kami - Section */
  .kampus_kami_section {
    height: 395px;
    width: 100%;
    background-color: #1e1e1e;
    display: grid;
    justify-content: space-between;
  }
  .left-kampus-kami {
    padding-top: 50px;
    padding-left: 90px;
  }

  #kampus_kami_title {
    color: #f8f9fa;
    font-size: 24px;
    font-weight: bold;
  }
  #kampus_kami_hr {
    border: solid 3px #b80505;
    width: 55%;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  .btn-kampus {
    background-color: #b80505;
    color: #f8f9fa;
    border-radius: 8px;
    height: 55px;
    width: 255px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    border: none;
  }

  .wrap-btn-kampus {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 2rem;
    padding-left: 2.5rem;
  }
  /* Kampus Kami - Section End */

  /* Sambutan Rektor - Section */
  .sambutan_rektor_section {
    width: 100%;
    height: 1455px;
    background-color: #f8f9fa;
    flex-direction: column-reverse;
    display: flex;
    padding-bottom: 62px;
  }
  .left-sambutan {
    flex: 1;
  }
  .right-sambutan {
    flex: 2;
  }
  #rektor_mobile {
    height: 415px;
    padding-left: 37px;
  }
  #sambutan-title {
    font-size: 48px;
    text-align: center;
    padding-top: 3.25rem;
  }
  #sambutan_hr {
    border: solid 3px #b80505;
    width: 30%;
    margin-top: 7px;
    margin-bottom: 35px;
    margin-left: 8rem;
  }
  .sambutan_para {
    width: 80%;
    text-align: justify;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 32px;
    margin-left: 37px;
  }
  /* Sambutan Rektor - Section End */

  /* Footer */
  .footer {
    width: 100%;
    height: 130px;
    background-color: #1e1e1e;
  }
  .left-footer {
    float: left;
    padding-left: 37px;
    padding-top: 40px;
  }

  .right-footer {
    float: right;
  }

  #red_upi {
    height: 45px;
  }
  .wrap-icon {
    display: inline-block;
    padding-right: 37px;
    padding-top: 54px;
  }
  .icon-links {
    list-style-type: none;
    margin-left: 17px;
    text-decoration: none;
  }
  .icon-links img {
    height: 22px;
  }

  /* Footer - End */

  /* Addition */
  #rektor {
    display: none;
  }
  /* Addition - End */
}

/* Media Query Responsive - Mobile End */
